* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: PingFang TC, Helvetica Neue, Microsoft JhengHei;
    background-color: #F0F0F0;
}

.main {
    width: 85%;
    min-height: 543px;
    margin: 0px auto;
    padding: 25px 0px 45px 0px;
    font-weight: bolder;
    .top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .bottom {
        display: none;
    }
}

.result-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .city {
        p.cityname {
            font-size: 30px;
            min-width: 90px;
        }
    }
    .line {
        width: 75%;
        height: 2px;
        border-bottom: 2px dashed #000;
    }
    .updatetime {
        font-size: 14px;
    }
}

.result-tab {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    .main-tab,
    .other-tab {
        display: inline-block;
    }
    .main-tab {
        border: 3px solid #000;
        width: 30%;
        height: 515px;
        margin-right: 2%;
    }
    .other-tab {
        width: 68%;
        .tab-block {
            border: 3px solid #000;
            display: inline-block;
            width: 47%;
            margin: 0px 1% 20px;
            cursor: pointer;
        }
    }
}

.stationname,
.AQInum {
    width: 50%;
    min-height: 80px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 30px;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.stationname {
    float: left;
    border-right: 3px solid #000;
}

.AQInum {
    float: right;
}

ul.info-list {
    width: 100%;
    height: auto;
    clear: both;
    border-top: 3px solid #000;
    padding: 20px;
    li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 65px;
        margin: 0px auto;
        border-bottom: 1px solid #000;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        &:last-child {
            border-bottom: 0px;
        }
        span.num {
            font-size: 22px;
        }
        .item {
            font-size: 22px;
            span {
                font-weight: normal;
                font-size: 16px;
            }
        }
    }
}

.filter-block {
    height: 110px;
    p {
        font-size: 35px;
    }
}

table.AQI-description {
    width: 70%;
    height: 100px;
    td {
        width: 110px;
        vertical-align: middle;
        text-align: center;
        border: 3px solid #000;
        padding: 10px;
        &.no1 {
            background-color: #95F084;
        }
        &.no2 {
            background-color: #FFE695;
        }
        &.no3 {
            background-color: #FFAF6A;
        }
        &.no4 {
            background-color: #FF5757;
        }
        &.no5 {
            background-color: #9777FF;
        }
        &.no6 {
            background-color: #AD1774;
        }
    }
}

select.city {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px 20px;
    color: #000000;
    cursor: pointer;
    border: 3px solid #000;
}

.selectbox {
    width: 300px;
    height: 50px;
    margin: 20px 0px;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    &::after {
        width: 40px;
        content: '▼';
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 5px 10px;
        pointer-events: none;
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
        text-align: center;
        line-height: 40px;
    }
    &:hover::after {
        color: #3f51b5;
    }
}

.footer {
    width: 100%;
    height: 34px;
    background-color: #000000;
    color: #ffffff;
    .content {
        width: 85%;
        height: 100%;
        margin: 0px auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.loader {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
    font-size: 20px;
}

.loaderGif {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
    z-index: 3;
    margin-bottom: 20px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loader.remove {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .footer {
        .content {
            width: 90%;
        }
    }
    .main {
        width: 90%;
    }
    table.AQI-description {
        width: 560px;
    }
    .result-title {
        .line {
            width: 630px;
        }
    }
}