@charset "UTF-8";
body {
  font-family: PingFang TC, Helvetica Neue, Microsoft JhengHei;
}

.header {
  width: 100%;
  height: 450px;
  background-image: url(../images/headerBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header .title {
  color: #ffffff;
  font-weight: bold;
  font-size: 45px;
  letter-spacing: 1px;
  z-index: 1;
}

.coverbg {
  width: 100%;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

select.city {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 20px;
  color: #000000;
  font-size: 18px;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
}

.selectbox {
  width: 250px;
  height: 50px;
  margin: 20px 0px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.selectbox::after {
  width: 50px;
  height: 50px;
  content: '▼';
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0px 10px 10px 0px;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
  text-align: center;
  line-height: 40px;
}

.selectbox:hover::after {
  color: #3f51b5;
}

.noresult {
  text-align: center;
  font-size: 30px;
}

.noresult,
.showsearch {
  padding-top: 40px;
  padding-bottom: 40px;
}

.showsearch {
  display: none;
}

.item {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px 0px;
  border-radius: 10px;
  height: 200px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item img {
  width: 25%;
  height: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.item .info {
  width: 75%;
  padding-left: 20px;
  font-size: 16px;
}

.item span.title {
  font-size: 18px;
  font-weight: bold;
}

.description {
  height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@media only screen and (max-width: 767px) {
  .header,
  .coverbg {
    height: 280px;
  }
  .header .title {
    font-size: 25px;
  }
  .item {
    height: 450px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 20px;
  }
  .item img,
  .item .info {
    width: 100%;
  }
  .item img {
    height: 200px;
  }
  .item .info {
    padding-top: 10px;
    padding-left: 0px;
  }
  .description {
    height: 135px;
    -webkit-line-clamp: 6;
  }
  .noresult,
  .showsearch {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 960px) {
  .item {
    margin: 20px;
  }
}
/*# sourceMappingURL=style.css.map */